{% extends 'seller_base.html' %}
 {% block content %}
  {% load static %}
      
	<main>
		<div class="mb-4 pb-4"></div>
		<section class="login-register container" >
      <ul class="nav nav-tabs mb-5" id="login_register" role="tablist">
        <li class="nav-item" role="presentation"> 
          <a class="nav-link nav-link_underscore active" id="login-tab" data-bs-toggle="tab" href="#tab-item-login" role="tab" aria-controls="tab-item-login" aria-selected="true">SELLER PROFILE PAGE</a>

        </li>
        <div>
            
            

          
			
        
        
        </div>



            
      </ul>
      <div class="tab-content pt-2" id="login_register_tab_content" >
        <div class="tab-pane fade show active" id="tab-item-login" role="tabpanel" aria-labelledby="login-tab">
             
        

			<div class="login-form"> 
				<h2>{{msg}}</h2>
            <form name="{%url 'seller_profile'%}" class="needs-validation" method="post" enctype="multipart/form-data" >
				{%csrf_token %}
              <div class="form-floating mb-3">
                <input name="uname" value="{{seller_data.username}}" type="text" class="form-control form-control_gray" id="customerNameEmailInput" placeholder="username *" required>
                <label for="customerNameEmailInput"> Username </label>
              </div>
    
              <div class="pb-3"></div>
    
              <div class="form-floating mb-3">
                <input name="email" type="email" class="form-control form-control_gray" id="customerPasswodInput" placeholder="email *" required value="{{seller_data.email}}">
                <label for="customerPasswodInput">email *</label>
              </div>

			  <div class="pb-3"></div>
    
              <div class="form-floating mb-3">
                <input name="opassword" type="password" class="form-control form-control_gray" id="customerPasswodInput" placeholder= "opassword" >
                <label for="customerPasswodInput"> old password</label>
              </div>
              <div class="form-floating mb-3">
                <input name="npassword" type="password" class="form-control form-control_gray" id="customerPasswodInput" placeholder=" new Password ">
                <label for="customerPasswodInput"> npassword</label>
              </div>

              <div class="form-floating mb-3">
                <input name="cnpassword" type="password" class="form-control form-control_gray" id="customerPasswodInput" placeholder="confirm-password ">
                <label for="customerPasswodInput"> cnpassword</label>
              </div>
               

              <input type="file" name="propic" />
            <img src="{{seller_data.profile_pic.url}}" alt="">
            
              
              
			
			
			<br>
			
              <button class="btn btn-primary w-100 text-uppercase" type="submit">UPDATE PROFILE</button>
    
              
            </form>
          </div>
        </div>
        
    
              <div class="pb-3"></div>

              
          </div>
        </div>
      </div>
		</section>
	</main>

	<div class="mb-5 pb-xl-5"></div>
	
	{% endblock %}