{% extends "base.html" %} {% block content %} {%load static%}
<style>
  
</style>

<main>
  <div class="mb-4 pb-4"></div>
  <section class="shop-checkout container">
    <h2 class="page-title">Shipping and Checkout</h2>
    <div class="checkout-steps">
      <a href="{%url 'view_cart'%}" class="checkout-steps__item active">
        <span class="checkout-steps__item-number">01</span>
        <span class="checkout-steps__item-title">
          <span>Shopping Bag</span>
          <em>Manage Your Items List</em>
        </span>
      </a>
      <a href="{% url 'check_out' %}" class="checkout-steps__item active">
        <span class="checkout-steps__item-number">02</span>
        <span class="checkout-steps__item-title">
          <span>Shipping and Checkout</span>
          <em>Checkout Your Items List</em>
        </span>
      </a>
      <a href="{%url 'confirm_order'%}" class="checkout-steps__item">
        <span class="checkout-steps__item-number">03</span>
        <span class="checkout-steps__item-title">
          <span>Confirmation</span>
          <em>Review And Submit Your Order</em>
        </span>
      </a>
    </div>
    {% comment %} {% endcomment %}
    <form name="checkout-form" action="{% url 'check_out' %}" method="POST">
      {% csrf_token %}
      <div class="checkout-form">
        <div class="billing-info__wrapper">
          <h4>BILLING DETAILS</h4>
          <div class="row">
            <div class="col-md-6">
              <div class="form-floating my-3">
                <input
                  type="text"
                  class="form-control"
                  id="checkout_first_name"
                  placeholder="First Name"
                  name="first_name"
                />
                <label for="checkout_first_name">First Name</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating my-3">
                <input
                  type="text"
                  class="form-control"
                  id="checkout_last_name"
                  placeholder="Last Name"
                  name="last_name"
                />
                <label for="checkout_last_name">Last Name</label>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-floating my-3">
                <input
                  type="text"
                  class="form-control"
                  id="checkout_company_name"
                  placeholder="Company Name (optional)"
                />
                <label for="checkout_company_name"
                  >Company Name (optional)</label
                >
              </div>
            </div>
            <div class="col-md-12">
              <div class="search-field my-3">
                <div class="form-label-fixed hover-container">
                  <label for="search-dropdown" class="form-label"
                    >Country / Region*</label
                  >
                  <div class="js-hover__open">
                    <input
                      name="search_country"
                      type="text"
                      class="form-control form-control-lg search-field__actor search-field__arrow-down"
                      id="search-dropdown"
                      name="search-keyword"
                      readonly
                      href="#"
                      placeholder="Choose a location..."
                    />
                  </div>
                  <div class="filters-container js-hidden-content mt-2">
                    <div class="search-field__input-wrapper">
                      <input
                        type="text"
                        class="search-field__input form-control form-control-sm bg-lighter border-lighter"
                        placeholder="Search"
                      />
                    </div>
                    <ul class="search-suggestion list-unstyled">
                      <li class="search-suggestion__item js-search-select">
                        Australia
                      </li>
                      <li class="search-suggestion__item js-search-select">
                        Canada
                      </li>
                      <li class="search-suggestion__item js-search-select">
                        United Kingdom
                      </li>
                      <li class="search-suggestion__item js-search-select">
                        United States
                      </li>
                      <li class="search-suggestion__item js-search-select">
                        Turkey
                      </li>
                      <li class="search-suggestion__item js-search-select">
                        india
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-floating mt-3 mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="checkout_street_address"
                  placeholder="Street Address *"
                  name="order_address_line1"
                />
                <label for="checkout_company_name"
                  >Street Address line 1*</label
                >
              </div>
              <div class="form-floating mt-3 mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="checkout_street_address_2"
                  placeholder="Area Address *"
                  name="order_address_line2"
                />
                <label for="checkout_company_name"
                  >Street Address line 2*</label
                >
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-floating my-3">
                <input
                  type="text"
                  class="form-control"
                  id="checkout_city"
                  placeholder="Town / City *"
                  name="order_city"
                />
                <label for="checkout_city">Town / City *</label>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-floating my-3">
                <input
                  type="text"
                  class="form-control"
                  id="checkout_zipcode"
                  placeholder="Postcode / ZIP *"
                  name="order_zipcode"
                />
                <label for="checkout_zipcode">Postcode / ZIP *</label>
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-floating my-3">
                <input
                  type="text"
                  class="form-control"
                  id="checkout_phone"
                  placeholder="Phone *"
                  name="order_phone"
                />
                <label for="checkout_phone">Phone *</label>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-floating my-3">
                <input
                  type="email"
                  class="form-control"
                  id="checkout_email"
                  placeholder="Your Mail *"
                  name="order_email"
                />
                <label for="checkout_email">Your Mail *</label>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-check mt-3">
                <input
                  class="form-check-input form-check-input_fill"
                  type="checkbox"
                  value=""
                  id="create_account"
                />
                <label class="form-check-label" for="create_account"
                  >CREATE AN ACCOUNT?</label
                >
              </div>
              <div class="form-check mb-3">
                <input
                  class="form-check-input form-check-input_fill"
                  type="checkbox"
                  value=""
                  id="ship_different_address"
                />
                <label class="form-check-label" for="ship_different_address"
                  >SHIP TO A DIFFERENT ADDRESS?</label
                >
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="mt-3">
              <textarea
                class="form-control form-control_gray"
                placeholder="Order Notes (optional)"
                cols="30"
                rows="8"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="checkout__totals-wrapper">
          <div class="sticky-content">
            <div class="checkout__totals">
              <h3>Your Order</h3>
              <table class="checkout-cart-items">
                <thead>
                  <tr>
                    <th>PRODUCT</th>
                    <th align="right">SUBTOTAL</th>
                  </tr>
                </thead>
                <tbody>
                  {% for cart_item in cart_product %}
                  <tr>
                    <td align="left">{{cart_item.product.pname}}</td>
                    <td align="center">{{cart_item.quantity}}</td>
                    <td align="right">${{cart_item.product.price}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <table class="checkout-totals">
                <tbody>
                  <tr>
                    <th>QUANTITY</th>
                    <td align="right">{{ total_quantity }}</td>
                  </tr>
                  <tr>
                    <th>SUBTOTAL</th>
                    <td align="right">${{ total }}</td>
                  </tr>
                  <tr>
                    <th>SHIPPING</th>
                    <td align="right">Free shipping</td>
                  </tr>
                  
                  <tr>
                    <th>TOTAL</th>
                    <td align="right">${{ total }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="checkout__payment-methods">
              <div class="form-check">
                <input
                  class="form-check-input form-check-input_fill"
                  type="radio"
                  name="checkout_payment_method"
                  id="checkout_payment_method_1"
                  value="online"
                  checked
                />
                <label class="form-check-label" for="checkout_payment_method_1">
                  Online Transfer
                  <p class="option-detail">
                    Make your payment directly into our bank account. Please use
                    your Order ID as the payment reference.Your order will not
                    be shipped until the funds have cleared in our account.
                    
                  </p>
                  
 
                </label>
              </div>
              
              <div class="form-check">
                <input
                  class="form-check-input form-check-input_fill"
                  type="radio"
                  name="checkout_payment_method"
                  id="checkout_payment_method_3"
                  value="cash"
                />
                <label class="form-check-label" for="checkout_payment_method_3">
                  Cash on delivery
                  <p class="option-detail">
                    Phasellus sed volutpat orci. Fusce eget lore mauris vehicula
                    elementum gravida nec dui. Aenean aliquam varius ipsum, non
                    ultricies tellus sodales eu. Donec dignissim viverra nunc,
                    ut aliquet magna posuere eget.
                  </p>
                </label>
              </div>
              
              <div class="policy-text">
                Your personal data will be used to process your order, support
                your experience throughout this website, and for other purposes
                described in our
                <a href="terms.html" target="_blank">privacy policy</a>.
              </div>
              
            </div> 
            

            <button class="btn btn-primary btn-checkout" id="pay-btn">PLACE ORDER</button>
            

            
          </div>
        </div>
      </div>
    </form>
    {% comment %} {% endcomment %}
  </section>
</main>


<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script>
    var options = {
       
      // Enter the Key ID generated from the Dashboard
      key: "rzp_test_lo7pAK47dFvIL2", 
       
      // Amount is in currency subunits.
      // Default currency is INR. Hence, 
      // 50000 refers to 50000 paise
      amount: "{{total}}"*100, 
      currency: "INR",
       
      // Your/store name.
      name: "Dj Razorpay", 
       
      // Pass the `id` obtained in the response of Step 1
      order_id: "{{ razorpay_order_id }}", 
      callback_url: "{{ callback_url }}",
    };
     
    // initialise razorpay with the options.
    var rzp1 = new Razorpay(options);
     
    // add event listener to the payment button.
    document.getElementById("pay-btn").onclick = function (e) {
      rzp1.open();
      e.preventDefault();
    };
  </script>


{% endblock %}
