{% extends 'base.html' %}
 {% block content %}
  {% load static %}


	<main>
		<div class="mb-4 pb-4"></div>
		<section class="login-register container">
      <ul class="nav nav-tabs mb-5" id="login_register" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link nav-link_underscore active" id="login-tab" data-bs-toggle="tab" href="#tab-item-login" role="tab" aria-controls="tab-item-login" aria-selected="true">signup Page</a>
        </li>

        
      </ul>
      <div class="tab-content pt-2" id="login_register_tab_content">
        <div class="tab-pane fade show active" id="tab-item-login" role="tabpanel" aria-labelledby="login-tab">
			<h2>{{msg}}</h2>
			
          <div class="login-form">
           <form action="{% url 'signup'%}" class="needs-validation" novalidate method="post">
				{%csrf_token%}
              <div class="form-floating mb-3">
                <input name="uname" type="text" class="form-control form-control_gray" id="customerNameEmailInput" placeholder="username *">
                <label for="customerNameEmailInput">username</label>
              </div>
    
              <div class="pb-3"></div>
    
              <div class="form-floating mb-3">
                <input name="email" type="email" class="form-control form-control_gray" id="customerPasswodInput" placeholder="email*">
                <label for="customerPasswodInput">email</label>
              </div>

			  <div class="form-floating mb-3">
                <input name="password" type="password" class="form-control form-control_gray" id="customerPasswodInput" placeholder="Password *">
                <label for="customerPasswodInput">Password </label>
              </div>
    
              
    
              <button class="btn btn-primary w-100 text-uppercase" type="submit">signup</button>
    
              
            </form>
          </div>
        </div>
        
		</section>
	</main>

	<div class="mb-5 pb-xl-5"></div>
	
		
	{% endblock %}